/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	font-family: 'myriad Pro';
}

#MainContainerLogin
{
	margin: 0 auto;
	max-width: 500px;
	height: 480px;
	background: #fff;
	padding: 60px 20px 0 20px;
	display: table;
	xbox-shadow: 0px 0px 1px #b0aeae,  0px 2px 1px #b0aeae;
}

.logo{
	background: url('/assets/logo.png') no-repeat;
	max-width: 451px;
	height: 80px;
	margin: 0px auto;
	margin-bottom: 45px;
	background-size: 450px 90px;
}

.Welcome{
	text-align: center;
	color: #646464;
	display: block;
	margin-left: 0px auto;
	margin-right: 0px auto;
	margin-top: 20px;
	margin-bottom: 40px
}

.FormLogin{
	width:450px;
	height: 279px;
	display:table;
	background: #d2d2d2;
	margin: 0px auto;
	padding:0 0 15px 0;text-align: center;
	border-radius: 3px;
	overflow: hidden; 
}

.fieldsForm{
	display: block;
	max-width: 419px;
	height: 57px;
	margin: 0px auto;
	margin-bottom: 15px;
	margin-top: 20px;
}

.FormLogin input[type='text'], input[type='password']{
	float: left;
	border:0px;
	margin: 0;
	width: 352px;
	height: 57px;
	padding: 0 5px 0 5px;
	font-size: 18px;
	box-shadow: 0 0 5px 0 #ccc inset;
	color: #666;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px; 

}

#idUserName, #idUserPassword{
	float: left;
	width: 57px;
	height: 57px;
	background: url('/assets/IcInputUser.png');
	border-top-left-radius:3px;
	border-bottom-left-radius:3px; 
}

#idUserPassword{
	background-position: 0 57px !important;
}

.Titleform{
	width: 100%;
	height: auto;
	background: #2364b0;
	padding: 8px 0 8px 0;
	text-align: center;
	color:#fff;
	font-size: 18px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    margin-bottom: 31px;
}

.submitLogin{width: 140px; height: 34px; float: right; margin: 10px 14px 0 0; background: url('/assets/submitLogin.png'); border: 0px; cursor:pointer; border-radius: 3px;}
#errorPassword{color: red; display: none; height: 30px;}

/*Inicio do css da Dashboard ################*/

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}




