/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	font-family: 'myriad Pro';
}

#MainContainerLogin
{
	margin: 0 auto;
	max-width: 500px;
	height: 480px;
	background: #fff;
	padding: 60px 20px 0 20px;
	display: table;
	xbox-shadow: 0px 0px 1px #b0aeae,  0px 2px 1px #b0aeae;
}

.logo{
	background: url('/assets/logo.png') no-repeat;
	max-width: 451px;
	height: 80px;
	margin: 0px auto;
	margin-bottom: 45px;
	background-size: 450px 90px;
}

.Welcome{
	text-align: center;
	color: #646464;
	display: block;
	margin-left: 0px auto;
	margin-right: 0px auto;
	margin-top: 20px;
	margin-bottom: 40px
}

.FormLogin{
	width:450px;
	height: 279px;
	display:block;
	background: #d2d2d2;
	margin: 0px auto;
}

.fieldsForm{
	display: block;
	max-width: 419px;
	height: 57px;
	margin: 0px auto;
	margin-bottom: 15px;
	margin-top: 10px;
}

.FormLogin input[type='text'], input[type='password']{
	float: left;
	border:0px;
	margin: 0;
	width: 352px;
	height: 57px;
	padding: 0 5px 0 5px;
	font-size: 18px;
	box-shadow: 0 0 5px 0 #ccc inset;
	color: #666;

}

#idUserName, #idUserPassword{
	float: left;
	width: 57px;
	height: 57px;
	background: url('/assets/IcInputUser.png');
}

#idUserPassword{
	background-position: 0 57px !important;
}

.Titleform{
	width: 100%;
	height: auto;
	background: #2364b0;
	padding: 8px 0 8px 0;
	text-align: center;
	color:#fff;
	font-size: 18px;
}

.submitLogin{width: 174px; height: 43px; float: right; margin: 10px 14px 0 0; background: url('/assets/submitLogin.png'); border: 0px; cursor:pointer;}


