<center>
    <table style="width:300px">
    <tr>
      <th>Login</th>
      <th>Nome</th>
    </tr>
  <% @user.each  do |user| %>
<tr>
  <td><a href="/users/<%= user.id %>"><%= user.login %></a></td>
  <td><%= user.name.upcase %></td>
</tr>
  <% end %>
</table>
</center>