<center>
	<a href="/user/<%= session[:user_id]%>"><b>Home</b></a> <a href="/user/new_user">Cadastrar Usuario</a> <a href="/client">Cadastrar Cliente</a> <a href="/">Buscar Cliente</a> <a href="/user/logout">Sair</a><br/>
</center>
Logado como: <%= session[:user_login] %>