<div id="container">

  <%= form_tag("/users/list", method: "get",  :class => "formNewUser") do %>
    <label>Login</label>
    <input type="text" id="search" name="search" class="form-control"/><br>
    <%= submit_tag "Buscar",  :class=>"button right"%>
  <%end%>

  <%if !@user.empty?%>
    <%= render "search"%>
  <%end%>
</div>

<script>
  $( "#search_by" ).change(function() {
    if( $("#search_by").val() == "cpf") {
      $('#search').mask('000.000.000-00');
    } else {
      $('#search').val("");
      $('#search').unmask();
    }
      
  });
  
</script>