<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Buscar Usuario</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<div id="row text-center">

  <%= form_tag("/users/list", method: "get",  :class => "formNewUser") do %>
    <div class="row">
      <div class="col-lg-12">
        <div class="col-lg-6 center-block" style="float:none;">
          <div class="panel panel-default">
          <div class="panel-heading"><strong>Buscar Por:</strong></div>
            <div class="panel-body">        
              <div class="form-group">
                <label>Login *</label>
                <input type="text" id="search" class="form-control" name="search"/>
              </div>
              <%= submit_tag "Buscar",  :class=>"btn btn-success col-lg-3 pull-right"%>
            </div>
          </div>
        </div>
  <%end%>

  <%if !@user.empty?%>
    <%= render "search"%>
  <%end%>
  </div>
</div>

<script>
  $( "#search_by" ).change(function() {
    if( $("#search_by").val() == "cpf") {
      $('#search').mask('000.000.000-00');
    } else {
      $('#search').val("");
      $('#search').unmask();
    }
      
  });

  $( document ).ready(function() {
    validateFormSearchUser();
  });
</script>