<div class="col-lg-6 center-block" style="float:none;">
	<div class="panel panel-default">
		<div class="table-responsive">
		  <table class="table table-striped">
		  	<thead>
		  		<th>CPF</th>
		      <th>Nome</th>
		  	</thead>
		    <tbody>
		    	<% @clients.each  do |client| %>
			      <tr>
			        <td><a href="/clients/<%=client.id%>"><%= client.cpf %></a></td>
			        <td><%= client.name.upcase %></td>
			      </tr>
		      <% end %>
		    </tbody>    
		  </table>
		</div>
	</div>	
</div>