<div id="row">

  <%= form_tag("/clients/list", method: "get",  :class => "formNewUser") do %>
  <div class="row text-center">
    <label>Buscar Por:</label>
    <select id="search_by" class="small-5 columns" name="search_by">
     <option value="">Selecione</option>
     <option value="cpf">CPF</option>
     <option value="nome">Nome</option>
    </select>
  </div>

  <div class="row">  
    <input type="text" id="search" name="search" class="small-5 columns"/><br>
    <%= submit_tag "Buscar",  :class=>"button right"%>
  </div>

  <%end%>

  <%if @clients%>
    <%= render "search"%>
  <%end%>
</div>

<script>
  $( "#search_by" ).change(function() {
    if( $("#search_by").val() == "cpf") {
      $('#search').mask('000.000.000-00');
    } else {
      $('#search').val("");
      $('#search').unmask();
    }
      
  });
  
</script>

<style>
  #search_by, #search{margin: 20px auto !important; float: none;  width: 50%; }
</style>