<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Buscar Cliente</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>



  <%= form_tag("/clients/list", method: "get",  :class => "formNewUser") do %>
  <div class="row">
    <div class="col-lg-12">

    <div class="col-lg-6 center-block" style="float:none;">
      <div class="panel panel-default">
      <div class="panel-heading"><strong>Buscar Por:</strong></div>
        <div class="panel-body">        
          <div class="form-group">
            <label></label>
            <select id="search_by" class="form-control" name="search_by">
             <option value="">Selecione</option>
             <option value="cpf">CPF</option>
             <option value="nome">Nome</option>
            </select>
          </div>
        
          <div class="form-group">
            <label class="labelTermo">Digite o termo da busca:</label>
            <input type="text" class="form-control" id="search" name="search"/>
            <label class="right inline size-14"></label>
          </div>
          <%= submit_tag "Buscar",  :class=>"btn btn-success col-lg-3 pull-right"%>
        </div>
      </div>
    </div>          

  <%end%>

  <%if @clients%>
    <%= render "search"%>
  <%end%>

<script>
  $( "#search_by" ).change(function() {
    if( $("#search_by").val() == "cpf") {
      $('.labelTermo').text('Digite o CPF:');
      $('#search').mask('000.000.000-00');
    } else {
      $('.labelTermo').text('Digite o Nome:');
      $('#search').val("");
      $('#search').unmask();
    }
      
  }); 
</script>