<div id="row">

  <%= form_tag("/clients/list", method: "get",  :class => "formNewUser") do %>
  <div class="row text-center">
    
    <div class="small-2 columns"><label class="right inline size-14">Buscar Por:</label></div>
    <div class="small-7 columns left"><select id="search_by" name="search_by">
     <option value="">Selecione</option>
     <option value="cpf">CPF</option>
     <option value="nome">Nome</option>
    </select>
  </div>
  </div>

  <div class="row">
    <div class="small-2 columns"><label class="right inline size-14"></label></div>
    <div class="small-7 columns left"><input type="text" id="search" name="search"/></div>
  </div>
  <div class="row">
    <div class="small-2 columns"><label class="right inline size-14"></label></div>
    <div class="small-7 columns left"><%= submit_tag "Buscar",  :class=>"button right"%></div>
  </div>

  <%end%>

  <%if @clients%>
    <%= render "search"%>
  <%end%>
</div>

<script>
  $( "#search_by" ).change(function() {
    if( $("#search_by").val() == "cpf") {
      $('#search').mask('000.000.000-00');
    } else {
      $('#search').val("");
      $('#search').unmask();
    }
      
  }); 
</script>