<!-- <div class="row">
    <div class="col-lg-12">
        <img src="/assets/welcome.png" width="100%"/>
    </div>

</div> -->


 <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-transform: capitalize;"><small>Olá <%= session[:user_login] %>,</small></h1>
    <div class="col-lg-6 center-block" style="float:none;">
        <img src="/assets/welcome.png" width="100%"/>
     </div>
 </div>

 <style>
.userName{display: none !important;}
 </style>
<!-- <img src="/assets/city.jpg" width="100%"/>-->