<center>
<%if submenu_for.match(/clients/) %>
    <ul>
        <li><a href="/clients/new">Novo Cliente</li>
        <li><a href="/clients/list">Buscar Cliente</li>
    </ul>
<% end%>

<%if submenu_for.match(/users/) %>
    <ul>
        <li><a href="/users/new">Novo Usuario</li>
    </ul>
<% end%>


<%if submenu_for.match(/residences/) %>
<% end%>
</center>
