<!--<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">Render Topo<%#link_to index, root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section">
    <ul>
      <%# render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>-->

  <div class="top-bar fixed HeaderContainer">
    <div class="HeaderLogoInterno">
      <a href="#"><img src="/assets/logoInterno.png"></a>
    </div>
      <ul class="HeaderUserInfos">
        <li><a href="#" class="userName"><img src="/assets/avatar.jpg" height="29" width="29" alt="avatar image"><%= session[:user_login] %></a></li>
        <li><a href="/session/logout">| Sair</a></li>
      </ul>
  </div>
