<!DOCTYPE html>
<html>
	<head>
		<title></title>
			<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
			<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	</head>
		<body>

		<section id="MainContainerLogin">
			<h1 class="logo"></h1>
			<span class="Welcome">Bem Vindo !</span>
			<%= form_tag("/user/login", :method => "post", :class => "FormLogin") do%>
		
				<p class="Titleform">Login</p>
				
				<p class="fieldsForm">
					<label for="userName" id="idUserName"></label>
					<input type="text" name="user_name" required autofocus placeholder="USUÁRIO"><br>
				</p>

				<p class="fieldsForm">
					<label for="userPassword" id="idUserPassword"></label>
					<input type="password" name="password" required placeholder="SENHA">
				</p>		
				<div id="errorPassword">
					<p>
						A senha digitada está incorreta. Tente novamente!
					</p>
				</div>
				<%= submit_tag "", :class => "submitLogin"%>
			<%end%>	
		</section>
			
		</body>
</html>

<script>

var urlAtual = window.location.href;
var urlPass = urlAtual.indexOf("password");
var urlUser = urlAtual.indexOf("erruser");

if(urlPass != -1){
	jQuery('#errorPassword').html('<p>A senha digitada está incorreta. Tente novamente!</p>');
	jQuery('#errorPassword').slideDown('4000');
}
if(urlUser != -1){
	jQuery('#errorPassword').html('<p>O usuário digitado não existe. Tente novamente!</p>');
	jQuery('#errorPassword').slideDown('4000');
}
</script>