/*

 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

*{
	font-family: 'myriad Pro' !important;
}


.HeaderClient{padding:10px 15px 10px 15px;}
.navbar-brand{background-image: url('/assets/logoInterno.png'); background-color: #fff; background-size: 300px; background-repeat: no-repeat; width: 320px; background-position: 8px 0; height: 50px; border-radius: 3px;}
.navbar-brand:hover{background-color:#fff !important; }

#container{position: relative; background: transparent; padding:90px 20px 30px 20px;  width: 74%; height: 100%; float: right;}

.userName{text-transform:capitalize; color: #fff;}
#RightBar{position:fixed; display:block;z-index:100; top:71px; width: 335px; height: 100%; background: #f5f5f5;}
.NavRightBar ul{list-style: none; display: block; list-style-type: disc; -webkit-margin-before: 1em; -webkit-margin-after: 1em; -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 0px;}
.NavRightBar ul li{list-style: none; padding: 10px 10px 10px 10px;}
.NavRightBar ul li a{color:#428bca; font-size: 16px; display: block; width: 100%; height: 100%;}
.NavRightBar ul li a:hover{text-decoration: none;}
.active{background: #428bca; color: #fff;}
.active > a{ color: #fff !important;}
.active a:hover{ color: #428bca !important;}
.NavRightBar ul li:hover{background: #eeeeee; color:#428bca; text-decoration: none; }

.formNewUser{margin: 0px auto; width: 400px; height: 300px;}
.formNewUser input[type="text"], .formNewUser input[type="password"]{float: right; height: 45px;}
input[type="checkbox"]{float: left;}
.formNewUser p{margin: 10px 0 10px 0; display: table; width: 100%; height: auto;}
.formNewUser label{color: #949494; font-weight: normal; display: block; margin-bottom: 3px; font-size: 17px;}

.submitSmall{
  width: 50%;
  float: right;
  margin: 15px 0;
}