/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables.scss";

// Top navigation
.nameEnterprise{width: 200px;
	img{max-width: 100%;}
}
.top-bar{background: #fff; border-bottom:$BlueBorderBottom; height: 55px; line-height: 55px;}
.userName{
	img{margin: 0 5px 0 0;}
}
.top-bar-section{
	li:not(.has-form) a:not(.button), li.active:not(.has-form) a:not(.button){
		@include topBarHeight(52px);
		color: $blueOfProject;
		background: $WhiteColor;
	}
	li:not(.has-form) a:not(.button):hover{
		background: $blueOfProject;
	}
	ul{
		.divider{
			@include topBarHeight(52px);
			border-right: 1px solid #ccc;
		}
	}
}
// End Top navigation

// sidebar
.sidebar{
	background: $blueOfProject; position: relative;
	a{padding: 10px; line-height: 38px; color:$WhiteColor;}
		.active{background:$WhiteColor;
			a{color:$blueOfProject;}
		}
	li:hover{@extend .active;}
	.sidebar-divisor{border-bottom:1px solid #1656a1;}
}

	.NavIcons{margin:0 7px 0 10px; width: 18px; height: 18px; display:inline-block;}
	.iconClient{@extend .NavIcons; background:url(/assets/clientIcon.png);}
	.iconUser{@extend .NavIcons; background:url(/assets/userIcon.png);}
	.iconHome{@extend .NavIcons; background:url(/assets/homeIcon.png); width: 12px; height: 12px;}
// end sidebar

