		<section id="MainContainerLogin">
			<h1 class="logo"></h1>
			<span class="Welcome">Bem Vindo !</span>
			<%= form_tag("/session/login", :method => "POST", :class => "FormLogin") do%>
		
				<p class="Titleform">Login</p>
				
				<p class="fieldsForm">
					<label for="userName" id="idUserName"></label>
					<input type="text" name="user_name" required autofocus placeholder="USU?RIO"><br>
				</p>

				<p class="fieldsForm">
					<label for="userPassword" id="idUserPassword"></label>
					<input type="password" name="password" required placeholder="SENHA">
				</p>
				<% if flash[:error]%>		
				<div id="errorPassword">
					<p>
						A senha digitada est? incorreta. Tente novamente!
					</p>
				</div>
				<% end %>
				<%= submit_tag "", :class => "submitLogin"%>
			<%end%>	
		</section>