<div id="container">

  <%= form_tag("/clients/list", method: "get",  :class => "formNewUser") do %>
  <p>
    <label>Buscar Por:</label>
    <select name="search_by">
     <option value="">Selecione</option>
     <option value="cpf">CPF</option>
     <option value="nome">Nome</option>
    </select>
  </p>  
    <input type="text" name="search" class="form-control"/><br>
    <%= submit_tag "Buscar",  :class=>"button right"%>
  <%end%>

  <%if @clients%>
    <%= render "search"%>
  <%end%>
</div>