<div id="container">
  <center>
  <h1>Cadastro - Cliente Pessoa Física<h1>

  <p class="titles"><h4>---Informações Pessoais---<h4></p><br/>
    <%# render "form" %>
    <%= form_for @client do |f| %>
      <%= render "#{@client.current_step}_step", :f => f %>
      <p><%= f.submit "Continue" %></p>
      <p><%= f.submit "Back", :name => "back_button" unless @client.first_step? %></p>
    <% end %>
  </center>
  <div id="status" name="status">
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.cpf').mask('000.000.000-00');
    $('.dob').mask('00/00/0000');
  });
</script>