<center>
	<a href="/user/<%= session[:user_id]%>">Home</a> <a href="/client"><b>Cadastrar Cliente</b></a> <a href="/">Buscar Cliente</a> <a href="/user/logout">Logout</a><br/>
</center>

Logado como: <%= session[:user_login] %>
