/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *= require_tree .
 *= require_self
 */

 @import 'icheck/square/_all'; /*includes all color schemes*/
 @import 'icheck/futurico/futurico';

:invalid{border: 2px solid #ff0000;}
.brandLogo img{width: 40%; display: block;}
.steps{display: inline-block; color: #2364b0; background: #fff; box-shadow: 0 0 5px 0 #ccc; width: 30px; height: 30px; border-radius: 30px; padding: 5px 0 5px 0; text-align: center; margin: 0 5px 0 0; font-size: 14px;}
.userNameTxt{float: right;}
.userName{text-transform: capitalize;}

/*Cadastro*/
.btn-fixed{position: fixed; right: 50px; top: 171px; z-index: 9999;}
#loadingImg{margin: 0px auto;}
@media only screen and (max-width: 768px) {
	.btn-fixed{display: none;}

}

/*Maps*/
#sidebar_builder, #basic_map{height: 400px;}
#basic_map, #basic_map{margin: 0 0 0 0;height: 609px;}
.dropdown{float: right;}

.attention{
	border-color: red;
}
.table-bordered tbody tr td{height: 40px;}


.footer{width: 100%; background: #f8f8f8; border-top: 1px solid #e7e7e7;}