/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "variables.scss";

// Top navigation
.nameEnterprise{width: 200px;
	img{max-width: 100%;}
}
@media only screen and (min-width: 40.063em) {/* min-width 641px, medium screens */
.top-bar{position: fixed; width: 100%; z-index: 99;}
.sideNavContainer{position:fixed; height: 100%; left:-15px; top:55px;}
}
.top-bar{background: #fff; border-bottom:$BlueBorderBottom; height: 55px; line-height: 55px;}
.userName{
	text-transform: capitalize !important;
	img{margin: 0 5px 0 0;}
}
.top-bar-section{
	li:not(.has-form) a:not(.button), li.active:not(.has-form) a:not(.button){
		@include topBarHeight(52px);
		color: $blueOfProject;
		background: $WhiteColor;
	}
	li:not(.has-form) a:not(.button):hover{
		background: $blueOfProject;
	}
	ul{
		.divider{
			@include topBarHeight(52px);
			border-right: 1px solid #ccc;
		}
	}
}
// End Top navigation

// sidebar
.mainContainer{padding: 65px 0 0 0;}
main{height: 100%; xdisplay: table; background: #fff;}
.tabs{
	i{color: #2364b0;}
}

.sidebar{
	background: #333; position: relative; height: 100%;
	a{padding: 10px; line-height: 38px; color:$WhiteColor;}
		.active{background:$WhiteColor;
			a{color:$blueOfProject;}
		}
	li{padding: 0 0 0 14px;}
	li{padding: 0 0 0 14px;
		i{color: #fff;}
	}
	li:hover{@extend .active;}
	.active{
		i{color: #2364b0;}
	}
	.sidebar-divisor{border-bottom:1px solid #4e4e4e;}
}

	#loadingImg{width:30px; height: 30px; margin: 0 auto 10px auto;}

	.breadcrumbs{height: 50px; padding-top: 1.2rem !important; background: #2364b0;
		a{color: #fff}
	}
	.NavIcons{margin:0 7px 0 10px; width: 18px; height: 18px; display:inline-block;}
	.iconClient{@extend .NavIcons; background:url(/assets/clientIcon.png);}
	.iconUser{@extend .NavIcons; background:url(/assets/userIcon.png);}
	.iconHome{@extend .NavIcons; background:url(/assets/homeIcon.png); width: 12px; height: 12px;}
// end sidebar

//Forms
	.button{background: #fff; border: 2px solid #2364b0; color:#2364b0;}
	.button:hover{background:#2364b0;}
	#Casa_Alto_Padrao_casa_alto_padrao{float:left; margin-right: 10px;}
//End Forms

//Maps
	#sidebar_builder, #basic_map{width: 100%; height: 400px;}
//end Maps

