// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// import the CSS framework

@import "variables";

#MainContainerLogin{
	margin: 0 auto;
	max-width: 500px;
	max-height: 480px;
	background: #fff;
	padding: 60px 20px 0 20px;
	display: table;
	box-shadow: 0px 0px 1px #b0aeae,  0px 2px 1px #b0aeae;
}

.logo{
	background: url('/assets/logo.png') no-repeat;
	max-width: 451px;
	height: 80px;
	margin: 0px auto;
	margin-bottom: 45px;
	background-size: 450px 90px;
}

.FormLogin{
	width:450px;
	height: 279px;
	display:table;
	background: #fff;
	margin: 0px auto;
	padding:0 0 15px 0;text-align: center;
	border-radius: 3px;
	overflow: hidden; 
}

.fieldsForm{
	display: block;
	max-width: 419px;
	height: 57px;
	margin: 0px auto;
	margin-bottom: 15px;
	margin-top: 20px;
}

.FormLogin{
	input[type='text'], input[type='password']{
		float: left; border:0px; margin: 0; width: 352px; height: 57px; padding: 0 5px 0 5px; font-size: 18px; box-shadow: 0 0 5px 0 #ccc inset; color: #666; border-top-right-radius:3px; border-bottom-right-radius:3px;
	}
}

#idUserName{
	float: left;
	width: 57px;
	height: 57px;
	background-image: url('/assets/IcInputUser.png');
	border-top-left-radius:3px;
	border-bottom-left-radius:3px; 
}

#idUserPassword{
	@extend #idUserName;
	background-position: 0 57px !important;
}

.Titleform{
	width: 100%;
	height: auto;
	background: #2364b0;
	padding: 8px 0 8px 0;
	text-align: center;
	color:#fff;
	font-size: 18px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: $fontProject;
    margin-bottom: 31px;
}

.submitLogin{width: 140px; height: 34px; float: right; margin: 10px 14px 0 0; background: url('/assets/submitLogin.png'); border: 0px; cursor:pointer; border-radius: 3px; box-shadow: 0 0 5px #ccc;}
#errorPassword{color: red; display: none; height: 30px;}


