
<div style='width: 800px;'>
  <div id="multi_markers" style='width: 800px; height: 400px;'></div>
</div>

<script>
var handler = Gmaps.build('Google');
var arr_geo = [];
<% residence_geo.each do |res| %>
    
    arr_geo.push({ lat: <%= res[:lat] %>, lng: <%= res[:lng] %>})  
<%end%>
handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
  var markers = handler.addMarkers(arr_geo);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>