asidjaoisjdas
<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>
<script>
/*
	function displayOnMap(position){
	  var marker = handler.addMarker({
	    lat: "<%# Residence.last.position[:lat] %>",
	    lng: "<%# Residence.last.position[:lng] %>",
	    picture: {
	        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
	        width:  36,
	        height: 36
	      },
	      infowindow: "hello!"
	  });
	  handler.map.centerOn(marker);
	  handler.getMap().setZoom(15);
	};
*/
</script>