<div id="container">
   <%= form_tag("/residences", method: "get") do %>
   <p>
      <label>Selecione um Tipo</label>
      <select id="residence_type" name="residence_type">
         <option value="">Selecione</option>
         <option value="1">Residencial</option>
         <option value="2">Comercial</option>
      </select>
   </p>
   <p id="residence_type_choose"></p>
   <p>
      <label>Status do Imóvel</label>
      <select id="residence_status" name="residence_status">
         <option value="">Selecione</option>
         <option value="1">Compra</option>
         <option value="2">Locação</option>
         <option value="3">Venda</option>
      </select>
   </p> 
   <%= submit_tag "Buscar",  :class=>"button right"%>
  <%end%>

  <%if @residence%>
    <% render "search"%>
  <%end%>
</div>
<script>
   $( "#residence_type" ).change(function() {
      if( this.value == "1") {
         $("#residence_type_choose").empty();
         $("#residence_type_choose").append("<select id='residence_type_personal' name='residence_type_choose'><option value=''>Selecione</option><option value='1'>Casa</option><option value='2'>Apartamento</option></select>"
         );
      } else if(this.value == "2"){
         $("#residence_type_choose").empty();
         $("#residence_type_choose").append("<select id='residence_type_business' name='residence_type_choose'><option value=''>Selecione</option><option value='1'>Sala Comercial</option><option value='2'>Galpão</option></select>"
         );
      } else {
         $("#residence_type_choose").empty();
      }
   });
</script>
<!--
Teste do google maps,
Exemplos e documentacao completa em:<br>
http://apneadiving.github.io/<br>
https://developers.google.com/maps/documentation/javascript/reference<br><br>

DPS VC da uma olhada =)
-->
