<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Buscar Imovel</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<%= form_tag("/residences", method: "get") do %>
  <div class="row">
    <div class="col-lg-12">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <!-- <div class="panel-heading"><strong>Busca por tipo:</strong></div> -->
          <div class="panel-body">        
            <div class="col-lg-6">
              <div class="form-group">         
                <label>Selecione um Tipo:</label>
                  <select id="residence_type" class="form-control req" name="residence_type">
                    <option value="">Selecione</option>
                    <option value="1">Residencial</option>
                    <option value="2">Comercial</option>
                  </select>
              </div>
            </div>
          <div class="col-lg-6">
            <div class="form-group">
              <div id="residence_type_choose" class="row"></div>  
              <label>Status do Imóvel:</label>
                <select id="residence_status" class="form-control req" name="residence_status">
                   <option value="">Selecione</option>
                   <!--<option value="1">Compra</option>--> 
                   <option value="2">Locação</option>
                   <option value="3">Venda</option>
                </select>
            </div>
          </div>
        <%= submit_tag "Buscar",  :class=>"btn btn-success col-lg-3 pull-right"%>
        </div>
      </div>
    </div>
  </div>
<%end%>

  
<%  if @residence_geo != []%>
  <%= render "search", residence_geo: @residence_geo %>
<%end%>

<script>
$( document ).ready(function() {
    validateForm();
});
</script>
