<div id="container">

  <%= form_tag("/residences", method: "get") do %>
  <p>
      <label>Selecione um Tipo</label>
      <select id="residence_type" name="residence_type">
         <option value="">Selecione</option>
         <option value="cpf">Residencial</option>
         <option value="nome">Comercial</option>
      </select>
   </p>  

    <%= submit_tag "Buscar",  :class=>"button right"%>
  <%end%>

  <%if @residence%>
    <% render "search"%>
  <%end%>
</div>
<script>
   $( "#residence_type" ).change(function() {
      console.log( this[0].value );
   });
</script>
<!--
Teste do google maps,
Exemplos e documentacao completa em:<br>
http://apneadiving.github.io/<br>
https://developers.google.com/maps/documentation/javascript/reference<br><br>

DPS VC da uma olhada =)
-->
