<!--
Teste do google maps,
Exemplos e documentacao completa em:<br>
http://apneadiving.github.io/<br>
https://developers.google.com/maps/documentation/javascript/reference<br><br>

DPS VC da uma olhada =)

<div style='width: 800px;'>
  <div id="basic_map" style='width: 800px; height: 400px;'></div>
</div>
-->
<script>
var handler = Gmaps.build('Google');
handler.buildMap({ internal: {id: 'basic_map'} }, function(){
  
  var markers = handler.addMarkers([
    { lat: 43, lng: 3.5},
    { lat: 45, lng: 4},
    { lat: 47, lng: 3.5},
    { lat: 49, lng: 4},
    { lat: 51, lng: 3.5}
  ]);

  if(navigator.geolocation){
    navigator.geolocation.getCurrentPosition(displayOnMap);}
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();  

});

function displayOnMap(position){
  var marker = handler.addMarker({
    lat: position.coords.latitude,
    lng: position.coords.longitude,
    picture: {
        url: "https://addons.cdn.mozilla.net/img/uploads/addon_icons/13/13028-64.png",
        width:  36,
        height: 36
      },
      infowindow: "hello!"
  });
  handler.map.centerOn(marker);
  handler.getMap().setZoom(15);
};
</script>