<%= @residence_geo %>
<div id="row">
   <%= form_tag("/residences", method: "get") do %>
   <div class="row text-center">
      <label>Selecione um Tipo</label>
         <select id="residence_type" class="small-5 columns" name="residence_type">
         <option value="">Selecione</option>
         <option value="1">Residencial</option>
         <option value="2">Comercial</option>
      </select>
   </div>
   <p id="residence_type_choose"></p>
   <div class="row text-center">
      <label>Status do Imóvel</label>
      <select id="residence_status" class="small-5 columns" name="residence_status">
         <option value="">Selecione</option>
         <option value="1">Compra</option>
         <option value="2">Locação</option>
         <option value="3">Venda</option>
      </select>
   </div> 
   <div class="row">
      <%= submit_tag "Buscar",  :class=>"button right"%>
   </div>
  <%end%>

   <%= render "search", residence_geo: @residence_geo %>


</div>
<script>
   $( "#residence_type" ).change(function() {
      if( this.value == "1") {
         $("#residence_type_choose").empty();
         $("#residence_type_choose").append("<select id='residence_type_personal' name='residence_type_choose'><option value=''>Selecione</option><option value='1'>Casa</option><option value='2'>Apartamento</option></select>"
         );
      } else if(this.value == "2"){
         $("#residence_type_choose").empty();
         $("#residence_type_choose").append("<select id='residence_type_business' name='residence_type_choose'><option value=''>Selecione</option><option value='1'>Sala Comercial</option><option value='2'>Galpão</option></select>"
         );
      } else {
         $("#residence_type_choose").empty();
      }
   });
</script>

<style>
   #residence_type, #residence_status{margin: 20px auto !important; float: none;  width: 50%; }
</style>