<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid HeaderClient">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="userName">Olá <%= session[:user_login] %></a></li>
            <li><a href="/session/logout">Sair</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="CPF">
          </form>
        </div>
      </div>
    </div>

    
 
<article id="RightBar">
  <nav class="NavRightBar">
    <ul>
      <li class="active"><a href="/user/<%= session[:user_id]%>">Home</a></li>
      <li><a href="/user/new_user">Cadastrar Usuario</a></li>
      <li><a href="/client">Cadastrar Cliente</a></li>
      <li><a href="/client/list">Buscar Cliente</a></li>
    </ul>
  </nav>  
</article>
<style>
  #teste{width: 500px; height: auto; margin: 100px auto;}
</style>
<div id="teste">

<input type="radio" name="person" id="pf" value="pessoaF"><label for="pf">Pessoa Física</label>
<input type="radio" name="person" id="pj" value="pessoaJ"><label for="pj">Pessoa Juridica</label>

<form id="pfForm" style="display:none;">
<h1>Cadastro - Cliente Pessoa Física<h1>

<p class="titles"><h4>---Cliente---<h4></p>


<p><label>Nome:</label><input type ="text"></p>

<p><label>Sobrenome:</label><input type ="text"></p>

<p><label>Nacionalidade:</label><input type ="text"></p>

<p><label>Profissão:</label><input type ="text"></p>

<p><label>Empresa em que trabalha:</label><input type ="text"></p>

<p><label>Estado Civil:</label>    
<select>
<option value="Cliente 1">Solteiro(a)</option>
<option value="Cliente 2">Casado(a)</option>
<option value="Cliente 3">Divorciado(a)</option>
<option value="Cliente 4">Viúvo(a)</option>
</select>
</p>
<p><label>RG:</label><input type ="text"></p>
<p><label>CPF:</label><input type ="text"></p>

<p><label>Endereço:</label><input type ="text"></p>

<p><label>Telefone 1:</label><input type ="text"></p>

<p><label>Telefone 2:</label><input type ="text"></p>

<p><label>Telefone 3:</label><input type ="text"></p>

<p><label>Celular 1:</label><input type ="text"></p>

<p><label>Celular 2:</label><input type ="text"></p>

<p><label>Celular 3:</label><input type ="text"></p>

<p><label>E-mail 1:</label><input type ="text"></p>

<p><label>E-mail 2:</label><input type ="text"></p>

<p><label>E-mail 3:</label><input type ="text"></p>

<p><label>Renda:</label><input type ="text"></p>

<p><label>Renda(s) Extra(s):</label><input type ="text"></p>




<p><h4 class="titles">---Conjugê---<h4></p>


<p><label>Nome:</label><input type ="text"></p>

<p><label>Nacionalidade:</label><input type ="text"></p>

<p><label>Profissão:</label><input type ="text"></p>

<p><label>Empresa em que trabalha:</label><input type ="text"></p>

<p><label>Estado Civil:</label><input type ="text"></p>

<p><label>RG:</label><input type ="text"></p>

<p><label>CPF:</label><input type ="text"></p>

<p><label>Endereço:</label><input type ="text"></p>

<p><label>Telefone 1:</label><input type ="text"></p>

<p><label>Telefone 2:</label><input type ="text"></p>

<p><label>Telefone 3:</label><input type ="text"></p>

<p><label>Celular 1:</label><input type ="text"></p>

<p><label>Celular 2:</label><input type ="text"></p>

<p><label>Celular 3:</label><input type ="text"></p>

<p><label>E-mail 1:</label><input type ="text"></p>

<p/><label>E-mail 2:</label><input type ="text"></p>

<p><label>E-mail 3:</label><input type ="text"></p>

<p><label>Renda:</label><input type ="text"></p>

<p><label>Renda(s) Extra(s):</label><input type ="text"></p>




<p><h4 class="titles">---Referências Bancárias---<h4></p>

<p><label>Banco:</label><input type ="text"></p>

<p><label>Agência:</label><input type ="text"></p>

<p><label>C/C:</label><input type ="text"></p>



<p><h4 class="titles">---Referências Comerciais---<h4></p>

<p><label>Nome:</label><input type ="text"></p>

<p><label>Endereço:</label><input type ="text"></p>

<p><label>Telefone 1:</label><input type ="text"></p>

<p><label>Telefone 2:</label><input type ="text"></p>

<p><label>Telefone 3:</label><input type ="text"></p>


<p><h4 class="titles">---Referências Pessoais---<h4></p>


<p><label>Nome:</label><input type ="text"></p>

<p><label>Endereço:</label><input type ="text"></p>

<p><label>Telefone 1:</label><input type ="text"></p>

<p><label>Telefone 2:</label><input type ="text"></p>

<p><label>Telefone 3:</label><input type ="text"></p>


<div id="idTipoCliente">
<h4>---Tipo de Cliente Pessoa Física---<h4>

<p><input type ="checkbox" id="idLocador"><label>Locador</label></p>

<p><input type ="checkbox" id="idLocatario"><label>Locatário</label></p>

<p><input type ="checkbox" id="idComprador"><label>Comprador</label></p>

<p><input type ="checkbox" id="idVendedor"><label>Vendedor</label></p>

<p><input type ="checkbox" id="idFiador"><label>Fiador</label></p>

</div> 


<div id="contLocador"> 

<h1>Se Locador, seguir conforme abaixo:<h1>


<h4>É Locador do(s) imóvel(is):(Este select só será disponível quando o cliente for um Locador):</h4>
<select>
<option value="Imóvel 1">Imóvel 1 + (ID do Imóvel 1)</option>
<option value="Imóvel 2">Imóvel 2 + (ID do Imóvel 2)</option>
<option value="Imóvel 3">Imóvel 3 + (ID do Imóvel 3)</option>
<option value="Imóvel 4">Imóvel 4 + (ID do Imóvel 4)</option>
</select> 
</br>
<input type ="submit" value="Adicionar Imóvel">
</br>               
<h4>Este Select ou vários outros só serão disponibilizados se o usuário clicar no botão "Adicionar Imóvel"</h4>
<select>
<option value="Imóvel 2">Imóvel 2 + (ID do Imóvel 2)</option>
</select>
<hr>
</div>   

<div id="contFiador"> 
<h1>Se Fiador, seguir conforme abaixo:<h1>

<h4>É fiador do(s)(Este select só será disponível quando o cliente for um fiador):</h4>
<select>
<option value="Cliente 1">Cliente 1 + (ID do Cliente 1)</option>
<option value="Cliente 2">Cliente 2 + (ID do Cliente 2)</option>
<option value="Cliente 3">Cliente 3 + (ID do Cliente 3)</option>
<option value="Cliente 4">Cliente 4 + (ID do Cleinte 4)</option>
</select>
</br>
<input type ="submit" value="Adicionar Cliente">
</br>
<h4>Este Select ou vários outros só serão disponibilizados se o usuário clicar no botão "Adicionar Cliente"</h4>
<select>
<option value="Cliente 1">Cliente 1 + (ID do Cliente 1)</option>
</select>
<hr>
</div>

<div id="contVendedor">
<h1>Se Vendedor, seguir conforme abaixo:<h1>


<h4>É vendedor do(s) imóvel(is):(Este select só será disponível quando o cliente for um vendedor):</h4>
<select>
<option value="Imóvel 1">Imóvel 1 + (ID do Imóvel 1)</option>
<option value="Imóvel 2">Imóvel 2 + (ID do Imóvel 2)</option>
<option value="Imóvel 3">Imóvel 3 + (ID do Imóvel 3)</option>
<option value="Imóvel 4">Imóvel 4 + (ID do Imóvel 4)</option>
</select> 
</br>
<input type ="submit" value="Adicionar Imóvel">
</br>               
<h4>Este Select ou vários outros só serão disponibilizados se o usuário clicar no botão "Adicionar Imóvel"</h4>
<select>
<option value="Imóvel 2">Imóvel 2 + (ID do Imóvel 2)</option>
</select>
<hr>
</div>

<div id="contLocatario">
<h1>Se Locatário, seguir conforme abaixo:<h1>


<h4>(Se possuir imóveis que esteja alugando)É Locatário do(s) imóvel(is):(Este select só será disponível quando o cliente for um Locatário):</h4>
<select>
<option value="Imóvel 1">Imóvel 1 + (ID do Imóvel 1)</option>
<option value="Imóvel 2">Imóvel 2 + (ID do Imóvel 2)</option>
<option value="Imóvel 3">Imóvel 3 + (ID do Imóvel 3)</option>
<option value="Imóvel 4">Imóvel 4 + (ID do Imóvel 4)</option>
</select> 
</br>
<input type ="submit" value="Adicionar Imóvel">
</br>
<hr>
</div>

<h4>Este Select ou vários outros só serão disponibilizados se o usuário clicar no botão "Adicionar Imóvel"</h4>
<select>
<option value="Imóvel 2">Imóvel 2 + (ID do Imóvel 2)</option>
</select>

<h4>Fiadores:(Este select só será exibido se o cliente possuir um ou mais fiadores):</h4>
<select>
<option value="Fiador 1">Fiador 1 + (ID do Fiador 1)</option>
<option value="Fiador 2">Fiador 2 + (ID do Fiador 2)</option>
<option value="Fiador 3">Fiador 3 + (ID do Fiador 3)</option>
<option value="Fiador 4">Fiador 4 + (ID do Fiador 4)</option>
</select>

<h4>(Este select só será exibido quando o primeiro fiador for selecionado)</h4>
<select>
<option value="Fiador 1">Fiador 1 + (ID do Fiador 1)</option>
<option value="Fiador 2">Fiador 2 + (ID do Fiador 2)</option>
<option value="Fiador 3">Fiador 3 + (ID do Fiador 3)</option>
<option value="Fiador 4">Fiador 4 + (ID do Fiador 4)</option>
</select>

<h4>---Tem Fiador?(Se sim, o select deverá ser exibido)---</h4>
<input type= "radio"><label>Sim</label></br>
<input type= "radio"><label>Não</label></br>


<h4>---Observações---</h4>

<textarea></textarea>

<input type="submit" value="Salvar">

</form>

<form id="pjForm" style="display:none">
  <h1>Pessoa Juridica</h1>
  <p><label>Nome: </label><input type="text"></p>
  <p><label>E-mail: </label><input type="email" name="email"></p>
  <p><label>Tel:</label><input type="tel" name="email"></p>
  <input type="submit" value="validar">
  <a href="#" class="closeForm">fechar</a>
</form>

</body>
</html>

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<script>
  $("#pf").on( "click", function() {
      $('#pjForm').hide(300);
      $('#pfForm').show(300);
  });
  $("#pj").on( "click", function() {
      $('#pfForm').hide(300);
      $('#pjForm').show(300);
  }); 

$('#idLocador').click(function () {
    $("#contLocador").toggle(this.checked);
});

$('#idFiador').click(function () {
    $("#contFiador").toggle(this.checked);
});

$('#idComprador').click(function () {
    $("#contComprador").toggle(this.checked);
});

$('#idLocatario').click(function () {
    $("#contLocatario").toggle(this.checked);
});

$('#idVendedor').click(function () {
    $("#contVendedor").toggle(this.checked);
});

</script>


</div>

<style>
  #contLocador, #contFiador, #contVendedor, #contLocatario{display: none; margin: 30px 0 30px 0;}
  .titles{clear: both;}
  #pfForm p{margin: 10px 0; display: block; height: 30px;}
  #pfForm label{float: left; width: 200px;}
  #pfForm input[type="text"]{float: left;}
</style>
<!--idTipoCliente
idLocador
idLocatario
idComprador
idVendedor
idFiador-->



  
