<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Relatórios</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>


<%= report_container("Relatório de Clientes<br> Ativos","/reports/client_x_day") %>
<%= report_container("Relatório de Informações de Imóveis","/reports/informacoes_imovel") %>
 