<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Relatorios</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!--
<div style="min-width: 1600px;;">
	<a href="/reports/client_x_day">
	<div class="reports-collection">
		Relatório de Clientes Ativos
	</div>
</a>

<div class="reports-collection">
	<a href="/reports/informacoes_imovel">
		Relatório de Informações de Imóveis
</div>
	</a>
</div>
-->

<%= report_container("Relatório de Clientes Ativos","/reports/client_x_day") %>
 
<style>
.reports-collection{
	float: left;
	background-color: #2364b0;
	padding: 30px;
	margin-right: 30px;
	width: 300px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.reports-collection:hover{
	background-color: #112C4D;
	cursor: pointer;
}
</style>