<style>
.reports-collection{
	float: left;
	background-color: #2364b0;
	padding: 30px;
	margin-right: 30px;
	width: 300px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

.reports-collection:hover{
	background-color: #112C4D;
	cursor: pointer;
}
</style>
<div style="min-width: 1600px;;">
	<a href="/reports/client_x_day">
	<div class="reports-collection">
		Relatório de Clientes
	</div>
</a>

	<div class="reports-collection">
		Relatório de Imóveis por dia
	</div>

	<div class="reports-collection">
		Relatório de Informações de Imóveis
	</div>
</div>