<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name nameEnterprise">
    	<a href="#"><img src="/assets/logoInterno.png"></a>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
		<!--<ul class="show-for-small"></ul>-->
  <div class="top-bar-section">
		<ul class="right">
			  <li><a href="#" class="userName">
			  	<img src="/assets/avatar.jpg" height="29" width="29" alt="avatar image"><%= session[:user_login] %></a></li>
			  <li class="divider hide-for-small"></li>
	          <li><a href="/session/logout">Sair</a></li>
        </ul>
  </div>
</nav>
