<% if submenu_for.match(/clients/) %>
	<ul class="breadcrumbs">
	  <li><a href="/home"><i class="fi-home size-14"></i></a></li>
	  <li><a href="/clients/new">Novo Cliente</a></li>
	  <li><a href="/clients/list">Buscar Cliente</a></li>
	</ul>
<% end %>

<% if submenu_for.match(/users/) %>
	<ul class="breadcrumbs">
	  <li><a href="/home"><i class="fi-home size-14"></i></a></li>
	  <li><a href="/users/new">Novo Usu치rio</a></li>
	  <li><a href="/users/list">Buscar Usu치rio</a></li>
	</ul>
<% end %>

<% if submenu_for.match(/residences/) %>
	<ul class="breadcrumbs">
	  <li><a href="/home"><i class="fi-home size-14"></i></a></li>
	  <li><a href="/residences/new">Novo Im칩vel</a></li>
	  <li><a href="/residences/">Buscar Im칩vel</a></li>
	</ul>
<% end %>
